<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/product-create.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>

</head>
<body>
        
<%- include('../partials/header') %>

<main>
     <h1> <%= title %>  Producto </h1>
     <% if (locals.errors) {%> 
        <% errors.forEach(error => { %> 
            <p> <%= error.msg %> </p>
        <% }) %> 
    <% } %>

    <% if (noImages) {%> 
         <p> <%= noImages %> </p>
    <% } %> 
    <section>
        <form action="/products/editar/<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
            <div class="info-new-product">
                <input type="text" name="name" placeholder="Nombre del producto" value="<%= locals.old && old.name ? old.name : product.name_product %>">
                <input type="text" name="descripcion" placeholder="Descripcion del producto" value="<%= locals.old && old.descripcion ? old.descripcion : product.description %>">
                <input type="text" name="precio" placeholder="Precio del producto" value="<%= locals.old && old.precio ? old.precio : product.price %>">
            </div>
            <label for="categoriaId"><b>Categoria:   </b></label>
            <select name="categoriaId"  id="categoriaId">
                <% categorias.forEach(categoria =>{ %>
                    <option id= "value"value="<%=categoria.id %>"> <%=categoria.category %> </option>
                <% }) %>  
            </select>
            <div class="fotos">
                <h4>Foto principal</h4>
                <input type="file" class = "upload-file" name="fotoMain"  value="<%= locals.old && old.fotoMain ? old.foto-main: product.main_image %>" accept=".jpg, .jpeg, .png, .gif" multiple>
                <span class="btn btn-primary">Escoger archivo</span>
                <h4>Foto detalle 1</h4>
                <input type="file" class = "upload-file" name="fotoDetalle1" value="<%= locals.old && old.fotoDetalle1 ? old.fotoDetalle1: product.first_image %>" accept=".jpg, .jpeg, .png, .gif" multiple>
                <span class="btn btn-primary">Escoger archivo</span>
                <h4>Foto detalle 2</h4>
                <input type="file" class = "upload-file" name="fotoDetalle2" value="<%= locals.old && old.fotoDetalle2? old.fotoDetalle2: product.second_image %>" accept=".jpg, .jpeg, .png, .gif" multiple>
                <span class="btn btn-primary">Escoger archivo</span>
                <h4>Foto detalle 3</h4>
                <input type="file" class = "upload-file" name="fotoDetalle3" value="<%= locals.old && old.fotoDetalle3 ? old.fotoDetalle3: product.third_image %>" accept=".jpg, .jpeg, .png, .gif" multiple>
                <span class="btn btn-primary">Escoger archivo</span>

            </div>

            <button type="submit" id = "submit" value="Enviar">Enviar</button>
           

        </form>
        <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST">
            <button type="submit" id = "delete" value="Borrar">Eliminar</button>
       </form>
    </section>
</main>

<%- include('../partials/footer') %>
    
</body>