<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>

</head>
<body>
        
<%- include('../partials/header') %>

<main>
     <h1> <%= title %>  Producto </h1>
    <section>
        <form action="/" method="GET" class="form-create-update">
            <input type="text" name="name" placeholder="Nombre del producto" value="<%=producto.productoid==0?'': producto.nombreProducto%>">
            <input type="text" name="descripcion" placeholder="Descripcion del producto" value ="<%=producto.productoid==0?'': producto.descripcion  %>">
            <input type="text" name="precio" placeholder="precio del producto" value="<%=producto.productoid==0?'': producto.precio  %>">
            <label for="categorias"><b>Categoria:   </b></label>
            <select name="categorias"  id="categorias">
                <% categorias.forEach(categoria =>{ %>
                    <option value="<%=categoria.categoriaId %>"> <%=categoria.categoria %> </option>
                <% }) %>  
            </select>
            <h4>Foto principal</h4>
            <input type="file" name="foto-main">
            <h4>Foto detalle 1</h4>
            <input type="file" name="foto-detalle-1">
            <h4>Foto detalle 2</h4>
            <input type="file" name="foto-detalle-2">
            <h4>Foto detalle 3</h4>
            <input type="file" name="foto-detalle-3">

            <input type="submit" value="Enviar" class="button-register">
            <input type="reset" value="Borrar" class="button-register">
        </form>
    </section>
</main>

<%- include('../partials/footer') %>
    
</body>