<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/product-create.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>

</head>
<body>
        
<%- include('../partials/header') %>

<main>
     <h1> <%= title %>  Producto </h1>
    <section>
        <form action="/products/editar/<%= product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
            <div class="info-new-product">
                <input type="text" name="nombreProducto" placeholder="Nombre del producto" value="<%= product.name_product%>">
                <input type="text" name="descripcion" placeholder="Descripcion del producto" value ="<%= product.description  %>">
                <input type="text" name="precio" placeholder="Precio del producto" value="<%= product.price  %>">
            </div>
            <label for="categoriaId"><b>Categoria:   </b></label>
            <select name="categoriaId"  id="categoriaId">
                <% categorias.forEach(categoria =>{ %>
                    <option id= "value"value="<%=categoria.id %>"> <%=categoria.category %> </option>
                <% }) %>  
            </select>
            <div class="fotos">
                <h4>Foto principal</h4>
                <input type="file" class = "upload-file" name="photoMain" accept=".jpg" value="<%= locals.old && old.photoMain ? old.photoMain : '' %>" multiple>
                <span class="btn btn-primary">Escoger archivo</span>
                <h4>Foto detalle 1</h4>
                <input type="file" class = "upload-file" name="photo1" accept=".jpg" value="<%= locals.old && old.photo1 ? old.photo1 : '' %>" multiple>
                <span class="btn btn-primary">Escoger archivo</span>
                <h4>Foto detalle 2</h4>
                <input type="file" class = "upload-file" name="photo2" accept=".jpg" value="<%= locals.old && old.photo2 ? old.photo2 : '' %>" multiple>
                <span class="btn btn-primary">Escoger archivo</span>
                <h4>Foto detalle 3</h4>
                <input type="file" class = "upload-file" name="photo3" accept=".jpg" value="<%= locals.old && old.photo3 ? old.photo3 : '' %>" multiple>
                <span class="btn btn-primary">Escoger archivo</span>

            </div>

            <button type="submit" id = "submit" value="Enviar">Enviar</button>
           

        </form>
        <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST">
            <button type="submit" id = "delete" value="Borrar">Eliminar</button>
       </form>
    </section>
</main>

<%- include('../partials/footer') %>
    
</body>