<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/products-admin-styles.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Administracion de Productos </h1>
        <div class="form-nuevo-products">
            <form action="/products/nuevo">
                <input type="submit" value="Nuevo producto"> 
            </form>
            <div>
                <input type="search" placeholder="Filtrar">
                <button type="button"> <i class="fas fa-sync"></i></button>
            </div> 
        </div> 
        <div class="table">
            <div class="table-header">                  
                    <div class="table-column productoid"> <label for="">ProductoID </label> </div>
                        <div class="table-column producto"><label for="">Producto</label> </div>
                        <div class="table-column descripcion"><label for="">Descripcion</label></div>
                        <div class="table-column precio"><label for="">Precio </label></div>
                        <div class="table-column editar"> <label for="">Editar</label> </div>                
            </div>
            <div class="table-body">
                <% productos.forEach(producto =>{ %>
                    <div class="table-row" >
                        <div class="table-column  productoid"> <p><%= producto.productoid  %></p>  </div>
                        <div class="table-column  producto"><p><%= producto.nombreProducto  %></p> </div>
                        <div class="table-column  descripcion"><p><%= producto.descripcion  %></p></div>
                        <div class="table-column  precio"><p><%= producto.precio  %></p></div>
                        <div class="table-column editar"> <a href="/products/editar/<%= producto.productoid %>"><i class="fas fa-eye"></i></a> </div>
                    </div>
                <% }) %>

            </div>
            <div class="table-footer">
                <p>Numero de productos <%=productos.length  %> </p>
            </div>

        </div>
    </main>

    <%- include('../partials/footer') %>

</body>