<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
    <script src="https://kit.fontawesome.com/f8b57e23e1.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- header -->
    <%- include('partials/header') %>

    
    <main >

        <section >
            <img src="/images/index-images/carrusel.png"  width="100%" alt="piercing" class="product_img">
        
        </section>

        <section class="categories-and-boxes">
            <div class= "all-categories">
                <h3>CATEGORÍAS</h3>
                <i class="fas fa-gem"></i>
                <div class="ver-todo" >  
                    <a href="/products/">
                        <p>Ver todo</p>
                    </a>
                </div>
            </div>
            <div class= "products-box">    
    
                <% categorias.forEach(categoria =>{ %>
                    <article>
                        <img src="/images/index-images/<%= categoria.path%>"  width="100" alt="anillo" class="product_img">
                        <div class="category">
                            <a href="/products/categoria/<%= categoria.id%>">
                            <p>  <%= categoria.category%></p>
                            </a>
                        </div>
                    </article>
                  <% }) %>
              
    
                <!-- <article >
                    <img src="/images/index-images/collar.jpg"  width="100" alt="collar" class="product_img">
                    <div class="category">
                        <p>Collares</p>
                    </div>
                </article>
    
                <article >
                    <img src="/images/index-images/pulsera.jpg"  width="100" alt="piercing" class="product_img">
                    <div class="category">
                        <p>Pulseras</p>
                    </div>
                </article>
                <article>
                    <img src="/images/index-images/piercing.jpg"  width="100" alt="pulsera" class="product_img">
                   
                    <p class="category">Piercings</p>
    
                </article>
    
                <article>
                    <img src="/images/index-images/arete.jpg"  width="100" alt="arete" class="product_img">
                   
                    <p class="category">Aretes</p>
    
                </article>
    
                <article >
                    <img src="/images/index-images/reloj.jpg"  width="100" alt="reloj" class="product_img">
                    <p class="category">Relojes</p>
                    
                </article> -->
    
            </div>

        </section>

        
        
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>

</body>
</html>